In [8]:
import tensorflow as tf
(tf.math.special)

In [5]:
from os import chdir
chdir('../Hermes')
from connect import conn
engine = conn()
import pandas as pd

In [6]:
count   = 16
species = f'H{count if count > 1 else ''}'
X_h4 = pd.read_sql ( f'''SELECT * FROM "pySCF" WHERE filename = '{species}' AND method <> 'boost_fibonacci' AND method <> 'Orbital' ''' , engine)

In [9]:
x = X_h4.groupby(['method','canons'])[['dist','canons']].mean()
x['dist']['reduce']/x['dist']['fibonacci']#/x['canons']['reduce'].apply(lambda x : (x/count)**1.5)

##report against orbital canons,  look for *FINISHING QUALITY BOOST*
##estabilish baseline quality improvement

canons
4     1.356624
8     1.469486
16    1.719398
32    5.997236
Name: dist, dtype: float64

In [8]:
print(pd.pivot_table(x.drop(columns = ['canons']), index = ['canons'] , columns = ['method'] ,values = 'dist').to_latex())

\begin{tabular}{lrr}
\toprule
method & fibonacci & reduce \\
canons &  &  \\
\midrule
4 & 0.029224 & 0.039645 \\
8 & 0.011159 & 0.016398 \\
16 & 0.003213 & 0.005524 \\
32 & 0.000321 & 0.001924 \\
\bottomrule
\end{tabular}

In [51]:
X_iris = pd.read_sql( f''' SELECT * FROM iris WHERE canons = 1 and holdout = 0.7 ''' , engine)

In [53]:
X_iris.sort_values(by = ['dense_layer_length'])

,canons,holdout,random_state,dense_layer_length,num_samples,accuracy_sop,accuracy_snn,accuracy_buddy
1,1.0,0.7,181.0,4.0,3000.0,0.952381,0.952381,0.914286
5,1.0,0.7,181.0,10.0,3000.0,0.952381,0.961905,0.904762
0,1.0,0.7,181.0,40.0,3000.0,0.952381,0.952381,0.923810
2,1.0,0.7,181.0,100.0,3000.0,0.952381,0.952381,0.942857
7,1.0,0.7,181.0,100.0,5000.0,0.952381,0.952381,0.923810
6,1.0,0.7,181.0,100.0,3000.0,0.952381,0.952381,0.923810
3,1.0,0.7,181.0,120.0,3000.0,0.952381,0.961905,0.933333
4,1.0,0.7,181.0,120.0,3000.0,0.952381,0.952381,0.923810

In [54]:
pd.read_sql( f''' SELECT * FROM iris WHERE accuracy_buddy > accuracy_snn ''' , engine)

,canons,holdout,random_state,dense_layer_length,num_samples,accuracy_sop,accuracy_snn,accuracy_buddy
0,3.0,0.85,396.0,100.0,1000.0,0.953125,0.929688,0.968750
1,4.0,0.85,496.0,100.0,1000.0,0.906250,0.804688,0.859375
2,2.0,0.85,296.0,100.0,5000.0,0.953125,0.953125,0.960938
3,2.0,0.85,296.0,100.0,5000.0,0.953125,0.945312,0.953125